<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Exchange and Refund Log</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .container {
      max-width: 1500px;
      margin: 0 auto;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    h1 {
      margin-left: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    .button-container {
      margin-top: 10px;
      text-align: center;
    }

    .button-container button {
      padding: 6px 12px;
      background-color: #6f9bfe;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      white-space: nowrap;
    }

    .button-container button:hover {
      background-color: #3c79e6;
    }

    th {
      white-space: nowrap;
    }

    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .table-container {
      margin-bottom: 20px;
    }

  </style>
</head>
<body>
<div class="container">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin-left: 20px">교환 및 환불 신청서</h1>
    <div class="button-container">
      <button type="button" onclick="redirectToPaymentHome()">Payment Home으로 이동</button>
    </div>
  </div>

  <div>
    <label for="filterSelect">교환/환불 종류:</label>
    <select id="filterSelect" onchange="filterLogs()">
      <option value="">전체</option>
      <option value="REFUND">환불</option>
      <option value="EXCHANGE">교환</option>
    </select>
    <label for="statusSelect">상태:</label>
    <select id="statusSelect" onchange="filterLogs()">
      <option value="">전체</option>
      <option value="WAIT">대기</option>
      <option value="CANCEL">취소</option>
      <option value="OK">승인</option>
    </select>
  </div>
  <div>
    <label for="startDate">시작 날짜:</label>
    <input type="datetime-local" id="startDate" onchange="filterLogs()">
    <label for="endDate">종료 날짜:</label>
    <input type="datetime-local" id="endDate" onchange="filterLogs()">
  </div>

  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th style="text-align: center;">신청날짜</th>
        <th style="text-align: center;">구매자 ID</th>
        <th style="text-align: center;">주문 항목 ID</th>
        <th style="text-align: center;">교환/환불</th>
        <th style="text-align: center;">사유</th>
        <th style="text-align: center;">상태</th>
        <th style="text-align: center;">처리 시간</th>
        <th style="text-align: center;">처리/처리완료</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${logs.content.isEmpty()}">
        <td colspan="8" style="text-align: center;">표시할 항목이 없습니다.</td>
      </tr>
      <!-- Iterate over the list of SearchExchangeRefundLogDto objects -->
      <tr th:each="log : ${logs.content}" th:id="'log-' + ${log.logId}">
        <td>
          <span th:text="${#temporals.format(log.createdDate, 'yyyy년 MM월 dd일')}"></span><br>
          <span th:text="${#temporals.format(log.createdDate, 'HH시 mm분 ss초')}"></span>
        </td>
        <td th:text="${log.userId}"></td>
        <td th:text="${log.orderItemId}"></td>
        <td>
          <span th:if="${log.status.toString() == 'REFUND'}">환불</span>
          <span th:if="${log.status.toString() == 'EXCHANGE'}">교환</span>
        </td>
        <td th:text="${log.reason}"></td>
        <td>
          <span th:if="${log.logStatus.toString() == 'WAIT'}">대기</span>
          <span th:if="${log.logStatus.toString() == 'CANCEL'}">취소</span>
          <span th:if="${log.logStatus.toString() == 'OK'}">승인</span>
        </td>
        <td>
          <span th:if="${log.processingTime != null}">
            <span th:text="${#temporals.format(log.processingTime, 'yyyy년 MM월 dd일')}"></span><br>
            <span th:text="${#temporals.format(log.processingTime, 'HH시 mm분 ss초')}"></span>
          </span>
        </td>
        <td>
          <div class="button-container" th:if="${log.processingTime == null}">
            <button type="button" th:logId="${log.logId}" onclick="sendLogIdOk(this.getAttribute('logId'))">승인</button>
            <button type="button" th:logId="${log.logId}" onclick="sendLogIdCancel(this.getAttribute('logId'))">거부</button>
          </div>
          <div th:if="${log.processingTime != null}">
            <span style="white-space: nowrap;">처리완료</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <label for="pageSize">표시 항목:</label>
    <select id="pageSize" onchange="changePage()">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>

    <label for="pageNumber">페이지:</label>
    <select id="pageNumber" onchange="changePage()">
      <!-- Iterate over the total number of pages -->
      <option th:each="pageNo : ${#numbers.sequence(0, logs.totalPages - 1)}"
              th:value="${pageNo}"
              th:text="${pageNo + 1}"></option>
    </select>
  </div>
</div>
<script th:inline="javascript">
  /*<![CDATA[*/
  function sendLogIdOk(logId) {
    $.ajax({
      type: "POST",
      url: "/processingERLog",
      data: { logId: logId, okOrCancel: true},
      success: function (result) {
        alert("성공적으로 처리되었습니다.");
        window.location.reload();
        // 서버에서 받은 응답을 처리합니다.
      },
      error: function (result) {
        alert("처리 중 오류가 발생했습니다: " + result.responseText);
        window.location.reload();
      },
    });
  }

  function sendLogIdCancel(logId) {
    $.ajax({
      type: "POST",
      url: "/processingERLog",
      data: { logId: logId, okOrCancel: false},
      success: function (result) {
        alert("성공적으로 처리되었습니다.");
        window.location.reload();
        // 서버에서 받은 응답을 처리합니다.
      },
      error: function (result) {
        alert("처리 중 오류가 발생했습니다: " + result.responseText);
        window.location.reload();
      },
    });
  }

  function redirectToPaymentHome() {
    window.location.href = "/paymentHome";
  }
  /*]]>*/
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  function changePage() {
    var selectedPageNumber = document.getElementById("pageNumber").value;
    var selectedPageSize = document.getElementById("pageSize").value;
    var url = new URL(window.location.href);
    url.searchParams.set("size", selectedPageSize);
    url.searchParams.set("page", selectedPageNumber);
    window.location.href = url.href;
  }

  window.addEventListener('DOMContentLoaded', function() {
    var urlParams = new URLSearchParams(window.location.search);
    var selectedPageSize = urlParams.get('size');
    var selectedPageNumber = urlParams.get('page');
    if (selectedPageSize) {
      document.getElementById("pageSize").value = selectedPageSize;
    }
    if (selectedPageNumber) {
      document.getElementById("pageNumber").value = selectedPageNumber;
    }
  });

  function filterLogs() {
    var selectedFilter1 = document.getElementById("filterSelect").value;
    var selectedFilter2 = document.getElementById("statusSelect").value;

    var startDate = document.getElementById("startDate").value;
    var endDate = document.getElementById("endDate").value;

    console.log(startDate)

    var url = new URL(window.location.href);
    url.searchParams.set("status", selectedFilter1);
    url.searchParams.set("logStatus", selectedFilter2);
    url.searchParams.set("timeGoe", startDate);
    url.searchParams.set("timeLoe", endDate);

    window.location.href = url.href;
  }

  // 페이지 로드 시 선택된 필터를 설정
  window.addEventListener('DOMContentLoaded', function() {
    var urlParams = new URLSearchParams(window.location.search);

    var selectedFilter1 = urlParams.get('status');
    var selectedFilter2 = urlParams.get('logStatus');

    var selectedStartDate = urlParams.get('timeGoe');
    var selectedEndDate = urlParams.get('timeLoe');

    if (selectedFilter1) {
      document.getElementById("filterSelect").value = selectedFilter1;
    }
    if (selectedFilter2) {
      document.getElementById("statusSelect").value = selectedFilter2;
    }
    if (selectedStartDate) {
      document.getElementById("startDate").value = selectedStartDate;
    }
    if (selectedEndDate) {
      document.getElementById("endDate").value = selectedEndDate;
    }
  });
  /*]]>*/
</script>
</body>
</html>
